<main>
    <div id="banner-div">
        <div id="left-banner-div">
            <h1>Place a Recurring Request</h1>
            <p>Want to have your food supplies delivered regularly? Place a recurring order request with us and we will see to your restaurant's needs! Look our for us in your chat menu after you place the request.</p>
        </div>

        <div id="right-banner-div">
            <img src="/img/tasty-produce.png" alt="tasty-produce" width="120px" height="120px">
        </div>
    </div>

    <div id="catalog-div">
        <h2>Featured Products</h2>
        <p>Need to add: card layout, repeat cards.</p>
        <p>Card requirements: have plus/minus button, have add to cart, are clickable to show item info, should display data dynamically.</p>

        <div class="card-container">
            {{#each card}}
                <div id="card-element">
                    <img src="/img/{{this.image}}.png" alt="{{this.image}}" width="40px" height="40px">
                    <h3>{{this.name}}</h3>
                    <p>₱{{this.price}} / kg</p>
                    <img src="plus-icon.png" width="40px" height="40px" onclick="addQty()">
                    <p>1 kg</p>
                    <img src="minus-icon.png" width="40px" height="40px" onclick="lessQty()">
                    <button onclick="addToCart()">Add to Request</button>
                </div>
            {{/each}}
        </div>
    </div>

    {{!-- Produce Description Overlay --}}
    <div id="description-overlay">
        <img src="x-icon.png" width="40px" height="40px" onclick="closeOverlay()">
        <h2>More About: {{item}}</h2>
        <img src="/img/{{image}}.png" alt="{{this.image}}" width="160px" height="160px">
        <p>₱ {{price}} / kg</p>
        <button onclick="addToCartOverlay()">Add to Request</button>
        <h3>Product Description:</h3>
        <p>{{description}}</p>
    </div>

    {{!-- Cart Overlay --}}
    <div id="cart-overlay">
        {{#each cartItem}}
            <img src="/img/{{this.image}}.png" alt="{{this.image}}" width="40px" height="40px">
            <h3>{{this.name}}</h3>
            <img src="plus-icon.png" width="40px" height="40px" onclick="addQty()">
            <p>{{this.quantity}}</p>
            <img src="minus-icon.png" width="40px" height="40px" onclick="lessQty()">
            <p>x ₱ {{this.price}} / kg</p>
            <p>₱ {{subtotal}}</p> 
        {{/each}}

        <hr>

        <h3>Request Total:</h3>
        <h3>₱ {{total}}</h3>
        <button onclick="checkout()">Proceed to Checkout</button>
        <button onclick="closeCartOverlay">Close</button>
    </div>
</main>