<main>
    <div class="container">
        <!-- Banner Section -->
        <div class="banner-div">
            <div class="left-banner-div">
                <h1>Request for Rescued Produce</h1>
                <p>Rescued Produce or "Ugly Produce" are fresh and safe-to-eat vegetables that are rejected in groceries because of their looks. We look out for these produce and bring them to you for cheap! By doing so, we give farmers more income, and our customers more fresh produce and savings!</p>
            </div>

            <div class="right-banner-div">
                <img src="/img/hero-veg.jpg" alt="tasty-produce" width="120px" height="120px">
            </div>
        </div>

        <!-- Catalog Section -->
        <h2 id="featured-products-header">Featured Products</h2>
        <div class="catalog-div">
            {{#each items}}
                <div class="card-container">
                    <div class="card-element">
                        <img src="{{this.itemImage}}" alt="product-image" onclick="showOverlay(this)"
                            data-name="{{this.itemName}}" 
                            data-price="{{this.itemPrice}}"
                            data-description="{{this.itemDescription}}"
                            data-image="{{this.itemImage}}">
                        <div class="produce-details">
                            <div class="details-top">
                                <h3>{{this.itemName}}</h3>
                                <p>₱{{this.itemPrice}} / kg</p>
                            </div>
                            <div class="actions">
                                <div class="quantity-control">
                                    <i class="fa-regular fa-square-minus" data-item-id="{{this.itemID}}" data-delta="-1"></i>
                                    <p id="quantity-{{this.itemID}}">1 kg</p> 
                                    <i class="fa-regular fa-square-plus" data-item-id="{{this.itemID}}" data-delta="1"></i>
                                </div>
                                <button class="add-to-cart-btn" 
                                        data-item-id="{{this.itemID}}"
                                        data-name="{{this.itemName}}"
                                        data-price="{{this.itemPrice}}"
                                        data-image="{{this.itemImage}}">
                                    Add to Request
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <!-- Item Description Overlay -->
        <div id="description-overlay" onclick="closeOverlayOutside(event)">
            <div class="overlay-content">
                <i class="fa-solid fa-xmark" alt="Close" onclick="closeOverlay()"></i>
                <h2>More About: <span id="overlay-name"></span></h2>
                <div class="details-desc-container">
                    <img id="overlay-image" src="" alt="Product Image" >
                    <div class="details-desc">
                        <p id="overlay-price"></p>
                        <h3>Product Description:</h3>
                        <p id="overlay-description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/marketplace_catalog.js"></script>
<script src="/js/marketplace_cart.js"></script>